body {
    font-family: "Open Sans";
    line-height: 1.2;
    margin: 0;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.ttf);
    src: url(../fonts/OpenSans-Regular.woff);
    src: url(../fonts/OpenSans-Regular.woff2);
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Bold.ttf);
    src: url(../fonts/OpenSans-Bold.woff);
    src: url(../fonts/OpenSans-Bold.woff2);
    font-weight: 700;
    font-style: bold;
  }
  .header {
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 0;
    padding-bottom: 131px;
    padding-top: 30px;
  }
  .header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.5;
    z-index: -1;
  }
  .capline {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1.25%;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu_logo {
    width: 55.5%;
  }
  .menu_logo-link {
    text-decoration: none;
  }
  .menu_list_item {
    display: flex;
    list-style-type: none;
    color: #fefefe;
  }
  .menu_item:nth-child(1n + 2){
    margin-left: 37px;
  }
  .menu_item {
    text-transform: uppercase;
  }
  .menu_link {
    color: inherit;
    text-decoration: none;
    font-size: 12px;
  }
  .menu_link:hover{
    text-decoration: underline;
  }
  .titel {
    text-align: center;
    text-transform: uppercase;
    color: #fefefe;
    font-size: 45px;
    line-height: 1.6;
    max-width: 54.7%;
    margin: 0 auto;
    padding-top: 105px;
  }
  .menu__button{
    display: none;
  }
   /*--header--*/
  .trending{
   max-width: 100%; 
   margin-top: 60px;
  }
  .trend{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: #0f0d0e;
    text-align: center;
    margin-bottom: 28px;
  }
  .trend::after {
    content: "";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 66px;
    height: 3px;
    background: #b59f5b;
  }
  .wrp{
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    min-height: 322px;
    width: 100%;
  }
  .backg{
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 20px;
    width: calc(25% - 3px);
    min-height: 322px;
    position: relative;
  }
  .backg:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.5;
    z-index: 2;
  }
  .backg_img_a{
    background-image: url("../images/trend1.jpg");
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: cover;
  }
  .backg_img_b{
    background-image: url("../images/trend2.jpg");
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: cover;
  }
  .backg_img_c{
    background-image: url("../images/trend3.jpg");
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: cover;
  }
  .backg_img_d{
    background-image: url("../images/trend4.jpg");
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: cover;
  }
 .square{
    box-sizing: border-box;
    border: 3px solid #b59f5b;
    padding: 12px 19px;
    z-index: 3;
    width: 100%;
  }
  .content_link:hover{
    text-decoration: underline;
  }
  .headline_trend{
    color: beige;
    font-size: 20px;
  }
  .headline_trend_link{
    list-style-type: none;
    text-decoration: none;
    color: #fefefe;
  }
  .headline_trend_link:hover{
    color: #b59f5b;
  }
  /*--main--*/
  .container {
    max-width: 1200px;
    padding: 0 1.2%;
    margin: 0 auto;
    margin-top: 60px;
  }
  .main_unit {
    display: flex;
    justify-content: space-between;
  }
  .link {
    display: flex;
    list-style-type: none;
    margin-bottom: 7px;
    font-size: 14px;
    color: #b59f5b;
    text-transform: uppercase;
  }
  .left-side {
    max-width: 755px;
    width: 64%;
  }
  .box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 58px;
  }
  .image {
    width: 381px;
    object-fit: cover;
  }
  .img {
    margin-right: 3.85%; 
  }
  .link_item:nth-child(1n + 2) {
    margin-left: 4.1%;
  }
  .content_link {
    font-family: inherit;
    color: inherit;
    text-decoration: none;
    font-weight: 700;
  }
  .headline {
    font-size: 20px;
    color: #0f0d0e;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .headline_link {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
  }
  .headline_link:hover{
    color: #b59f5b;
  }
  .data {
    font-size: 12px;
    color: #888888;
    margin-right: 3%;
  }
  .time_author {
    display: flex;
  }
  .author {
    color: #000000;
    font-weight: 700;
    font-size: 12px;
  }
  .text {
    margin-top: 47px;
    font-size: 15px;
    line-height: 1.4;
  }
  /*--aside--*/
  .section_aside:nth-child(1n + 2){
    margin-top: 58px;
  }
  .right-side {
    box-sizing: border-box;
    width: 270px;
  }
  .img_aside {
    width: 70px;
    object-fit: cover;
  }
  .box_small {
    display: flex;
    box-sizing: border-box;
    margin-bottom:  18px;
  }
  .box_small_right {
    margin-left: 16px;
  }
  .data_aside {
    font-size: 12px;
    color: #000000;
  }
  .headline_aside {
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
    margin-top: 5px;
  }
  .headline_aside_link {
    text-decoration: none;
    color: inherit;
  }
  .box_smal_bottom {
    margin-top: 61px;
  }
  .form_row_search {
    box-sizing: border-box;
    position: relative;
  }
  .form_group {
    display: block;
  }
  .field_search {
    box-sizing: border-box;
    padding: 20px 50px 20px 20px;
    border: none;
    height: 47px;
    font-size: 13px;
    background-color: #f4f7f6;
    width: 100%;
  }
  .field {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border: none;
    height: 47px;
    font-size: 13px;
    background-color: #f4f7f6;
    margin-bottom: 17px;
    max-width: 100%;
  }
  .button_search {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 45px;
    height: 45px;
    border: none;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
    background-color: #b59f5b;
  }
  .button_search:hover{
    background-color: #000000;
  }
  .field_sign {
    box-sizing: border-box;
    border: none;
    padding: 10px 84px;
    background-color: #b59f5b;
    font-family: inherit;
    color: #ffffff;
    height: 47px;
    font-size: 16px;
    width: 100%;
  }
  .field_sign:hover {
    background: #000000;
  }
  .hidden_row {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
  }
  .form_row {
    margin-top: 20px;
  }
  .tema {
    margin-bottom: 26px;
    text-transform: uppercase;
    font-size: 14px;
    color: #0f0d0e;
    text-align: center;
  }
  .tema::after {
    content: "";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 66px;
    height: 3px;
    background: #b59f5b;
  }
  .tegs_list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    font-weight: 700;
  }
  .tegs_item {
    margin-bottom: 10px;
    margin-right: 5px;
    display: block;
  }
  .tegs_item_link {
    display: inline-block;
    padding: 3px 14px;
    color: #0f0d0e;
    font-size: 12px;
    border: 2px solid #f4f3f1;
    text-decoration: none;
    text-transform: uppercase;
  }
  .tegs_item_link:hover{
    border: 2px solid #b59f5b;
  }
  .last_row_list {
    list-style-type: none;
  }
  .last_row_item {
    border-bottom: 2px solid #eeeeee ;
    padding: 12px 0;
  }
  .term_item {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    vertical-align: sub;
  }
  .term_item:hover{
    color: #b59f5b;
  }
  .number {
    color: #b59f5b;
    font-size: 12px;
  }
  .product{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 63px auto;
    padding: 0 1.2%;
  }
  .prod{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 47%;
  }
  .prod:nth-child(1n + 2){
   margin-left: 57px;
  }
  .img_product{
    max-width: 300px;
  }
 .box_product{
    box-sizing: border-box;
    border: 3px solid #b59f5b;
    max-width: 100%;
    margin-top: -37px;
    padding: 24px 20px;
    flex-grow: 1;
  }
  .content_prod{
    margin-top: 26px;
    letter-spacing: 1px;
  }
  .prod_text{
    margin-top: 7px;
    font-size: 15px;
    line-height: 23px;
    font-weight: 500;
  }
  .prod_link{
    font-family: inherit;
    color: #b59f5b;
    text-decoration: none;
  }
  .prod_shop{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 17px;
  }
  .value{
    font-weight: 700;
  }
  .value_prod_throught{
    text-decoration: line-through;
  }
  .shop{}
  .product_sign{
    box-sizing: border-box;
    border: none;
    padding: 10px 25px;
    background-color: #b59f5b;
    font-family: inherit;
    color: #ffffff;
    height: 47px;
    font-size: 16px;
    max-width: 100%;
  }
  .product_sign:hover {
    background: #000000;
  }
  /*--footer--*/
  .socials {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.2%;
  }
  .hidden {
    display: inline-block;
    position: relative;
    z-index: -1;
  }
  .social_list_item {
    padding: 30px 15px;
    background-color: #f4f7f6;
  }
  .socials_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  .socials_item:nth-child(1n + 2) {
    margin-left: 22px;
  }
  .social_icon {
    display: block;
    text-decoration: none;
    align-items: center;
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center;
  }
  .social_icon_twitter {
    background-image: url(../svg/004-twitter.svg);
  }
  .social_icon_pinterest {
    background-image: url(../svg/001-pinterest.svg);
  }
  .social_icon_facebook {
    background-image: url(../svg/002-facebook-logo.svg);
  }
  .social_icon_instagram {
    background-image: url(../svg/005-instagram.svg);
  }
  .social_icon_tumblr {
    background-image: url(../svg/003-tumblr.svg);
  }
  .other_link {
    font-size: 12px;
    text-align: center;
    margin-top: 72px;
    margin-bottom: 40px;
  }
  .other {
    text-decoration: none;
    color: #999999;
  }
  /* popup */
  .popup_main{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
  .popup_main:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.5;
    z-index: 2;
  }
  .popup {
    max-width: 390px;
    padding: 49px 29px 25px 29px;
    background-color: #ffffff;
    z-index: 4;
  }
  .popup_content {
    position: relative;
    box-sizing: border-box;
  }
  .popup_close {
    background-image: url(../svg/form-x.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 17px;
    position: absolute;
    width: 17px;
    height: 17px;
    right: -33px;
    top: -78px;
  }
  .popup_button{
    display: none;
  }
  .popup_head {
    margin-bottom: 29px;
    text-transform: uppercase;
    font-size: 18px;
    color: #0f0d0e;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1.8px;
  }
  .popup_head::after {
    content: "";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 64px;
    height: 3px;
    background: #b59f5b;
  }
  .popup_text {
    display: block;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .popup_field {
    display: inline-block;
    margin-bottom: 29px;
  }
  .select {
    -webkit-appearance: none;
    -moz-appearance: none;
  
    display: block;
    box-sizing: border-box;
    min-width: 332px;
    height: 50px;
    padding-left: 10px;
    border: none;
    background-color: #f4f7f6;
    font-family: inherit;
    font-size: 13px;
  
    background-image: url(../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-position: center right 12px;
    background-size: 10px;
  }
  .radio {
    display: none;
  }
  .radio_group {
    display: inline-block;
    font-size: 13px;
    margin-right: 5px;
  }
  .radio_group::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
  
    background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px;
    vertical-align: middle;
  }
  .radio:checked + .radio_group::before {
    background-image: url(../svg/form-circle.svg);
  }
  .textfield {
    min-width: 332px;
    min-height: 129px;
    resize: none;
    border: none;
    font-family: inherit;
    background-color: #f4f7f6;
    font-size: 13px;
    padding: 21px 15px;
  }
  .popup_sign {
    box-sizing: border-box;
    border: none;
    background-color: #b59f5b;
    font-family: inherit;
    color: #ffffff;
    height: 49px;
    font-size: 14px;
    min-width: 332px;
    text-transform: uppercase;
  }
  .popup_sign:hover {
    background: #000000;
  }
  @media (min-width: 641px) and (max-width: 1200px){
    .header {
      background-image: url("../images/banner-bg-tablet.jpg"); 
      padding-bottom: 116px;
     }
     .menu__button {
      display: block;
      width: 25px;
      height: 21px;
      border: none;
      padding: 0;
      background-color: transparent;
      font-size: 15px;
      position: relative;
      cursor: pointer;
    }
    .menu__button:before, .menu__button:after {
      content: "";
      width: 100%;
      height: 3px;
      border-radius: 5px;
      background-color: #ffffff;
      position: absolute;
      left: 0;
    }
    .menu__button:before {
      top:0;
    }
    .menu__button::after{
      bottom: 0;
    }
    .hidden_row_button{
      position: absolute;
      background-color: #ffffff;
      left: 0;
      top: 9px;
      width: 100%;
      height: 3px;
      border-radius: 5px;
    }
     .menu_list_item {
      display: none;
    }
    .button_burger{
      position: absolute;
      top: 39px;
      right: 37px;
    }
    .menu_logo{
      width: 53.5%;
    }
    .capline{
      padding: 0 2.5%;
    }
    .titel{
      font-size: 38px;
      max-width: 86%;
      letter-spacing: 2px;
      padding-top: 98px;
    }
    .trend{
      font-size: 18px;
      margin-bottom: 24px;
    }
    .trend::after{
      margin-top: 7px;
      width: 60px;
    }
    .trending{
      margin-top: 42px;
    }
    .headline_trend{
      font-size: 17px;
    }
    .headline{
      font-size: 17px;
    }
    .wrp{
      flex-wrap: wrap;
    }
    .backg{
      width: calc(50% - 5px);
      margin-bottom: 3px;
      min-height: 247px;
    }
    .backg:nth-child(even){
      margin-left: 5px;
    }
    .box{
      flex-wrap: wrap;
      margin-bottom: 37px;
    }
    .container{
      margin: 50px 35px;
    }
    .main_unit{
      justify-content: space-evenly;
    }
    .left-side {
      margin-right: 30px;
    }
    .headline_link{
      font-size: 17px;
    }
    .text{
      margin-top: 27px;
    }
    .right-side{
      width: 300px;
    }
    .tema{
      font-size: 14px;
      margin-bottom: 19px;
    }
    .tema::after{
      width: 53px;
    }
    .box_small{
      margin-bottom: 13px;
    }
    .button_search{
      width: 46px;
      height: 46px;
    }
    .field_search{
      height: 46px;
    }
    .field{
      height: 46px;
    }
    .field_sign{
      height: 46px;
    }
    .image{
      width: 100%;
      align-items: center;
    }
    .img{
      width: 100%;
      align-items: center;
      margin-bottom: 10px;
      margin-right: 0;
    }
    .product{
      flex-wrap: wrap;
      margin: 12px auto;
    }
    .prod{
      margin-bottom: 27px;
    }
    .prod:nth-child(2n + 2){
      margin-left: 0;
    }
    .prod:nth-child(1n + 2){
      margin-left: 0;
    }
    .box_product{
      width: 100%;
    }
    .content_prod{
      font-size: 16px;
    }
    .prod_text{
      font-size: 14px;
      font-weight: 700;
    }
    .product_sign{
      font-size: 15px;
      height: 48px;
    }
    .img_product{
      max-width: 313px;
    }
    .img_prod{
      max-width: 100%;
      padding: 10px;
    }
    .value{
      font-size: 20px;
    }
    .socials_item:nth-child(1n + 2) {
      margin-left: 33px;
    }
    .popup{
      padding-top: 52px;
    }
    .popup_close{
      top: -84px;
      right: -27px;
      width: 27px;
      height: 27px;
      background-size: 27px;
    }
    .popup_head{
      letter-spacing: 1px;
      margin-bottom: 31px;
    }
    .popup_head::after{
      width: 66px;
    }
    .select{
      font-size: 12px;
    }
    .radio_group::before{
      background-size: 25px;
      width: 31px;
    }
    .radio_group:nth-child(1n+2){
      margin-right: 27px;
    }
    .social_icon{
      width: 20px;
      height: 20px;
      background-size: 20px;
    }
    .socials_item:nth-child(1n + 2) {
      margin-left: 32px;
    }
  }
  @media (max-width: 640px) {
    .header {
      background-image: url("../images/banner-mobile.jpg");
      width: 100%;
      padding-bottom: 230px;
    }
    .menu__button {
      display: block;
      width: 25px;
      height: 21px;
      border: none;
      padding: 0;
      background-color: transparent;
      font-size: 15px;
      position: relative;
      cursor: pointer;
    }
    .menu__button:before,
    .menu__button:after {
      content: "";
      width: 100%;
      height: 3px;
      border-radius: 5px;
      background-color: #ffffff;
      position: absolute;
      left: 0;
    }
    .menu__button:before {
      top: 0;
    }
    .menu__button::after {
      bottom: 0;
    }
    .hidden_row_button {
      position: absolute;
      background-color: #ffffff;
      left: 0;
      top: 9px;
      width: 100%;
      height: 3px;
      border-radius: 5px;
    }
    .button_burger{
      position: absolute;
      top: 30px;
      right: 20px;
     }
     .titel{
      font-size: 26px;
      max-width: 90%;
      padding-top: 288px;
     }
    .menu_list_item {
      display: none;
    }
    .menu_logo {
      width: 71%;
      position: absolute;
      top: 32%;
      right: 14.5%;
    }
    .titel_main {
      width: 100%;
    }
    .trend {
      font-size: 16px;
      letter-spacing: 0.6px;
      margin-bottom: 17px;
    }
    .trending{
      margin-top: 45px;
    }
    .headline_trend {
      font-size: 15px;
    }
    .square{
      padding: 28px 19px;
    }
    .wrp {
      flex-wrap: wrap;
      min-height: 230px;
    }
    .backg {
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 3px;
      min-height: 232px;
    }
    .content_link{
      font-size: 14px;
    }
    .container{
      max-width: 100%;
    }
    .main_unit {
      flex-wrap: wrap;
    }
    .left-side {
      max-width: 100%;
      margin: 0 20px;
      flex-grow: 1;
    }
    .right-side {
      align-items: center;
      max-width: 100%;
      margin: 0 20px;
      flex-grow: 1;
    }
    .headline_link{
      font-size: 16px;
    }
    .data{
      font-size: 12px;
    }
    .author{
      font-size: 12px ;
    }
    .text{
      font-size: 14px;
      border-bottom: 3px solid #f1f1f1;
      padding-bottom: 30px;
      margin-top: 13px;
    }
    .headline{
      margin-bottom: 13px;
    }
    .box_aside {
      max-width: 100%;
    }
    .section_aside {
      margin-bottom: 32px;
    }
    .tema{
      font-size: 17px;
      margin-bottom: 23px;
    }
    .data_aside{
      font-size: 12px;
    }
    .headline_aside{
      font-size: 14px;
    }
    .field {
      font-size: 10px;
    }
    .field_sign {
      font-size: 17px;
    }
    .form_row_search {
      min-width: 100%;
    }
    .form_row {
      margin-top: 16px;
    }
    .tegs_item_link{
      font-size: 12px;
    }
    .product_sign {
      height: 50px;
      font-size: 14px;
      padding: 10px 30px;
    }
    .box {
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 27px;
    }
    .term_item{
      font-size: 14px;
    }
    .image {
      width: 100%;
      margin-bottom: 8px;
    }
    .img {
      width: 100%;
      margin: 0;
    }
    .content_prod{
      font-size: 16px;
    }
    .prod_text{
      font-size: 14px;
    }
    .value{
      font-size: 18px;
    }
    .product {
      flex-wrap: wrap;
      padding: 0 25px;
    }
    .prod {
      width: 100%;
      align-items: center;
      margin-bottom: 15px;
    }
    .prod:nth-child(1n + 2) {
      margin-left: 0;
   }
    .socials_item:nth-child(1n + 2) {
      margin-left: 30px;
    }
    .social_icon{
      width: 19px;
      height: 19px;
      background-size: 19px;
    }
    .other_link{
      font-size: 12px;
      margin-top: 33px;
    }
    .popup {
      max-width: 334px;
      padding: 26px 25px 0 25px;
    }
    .popup_close{
      top:-58px;
      right: -25px;
      width: 27px;
      height: 27px;
      background-size: 27px;
    }
    .select{
      min-width: 282px;
      font-size: 12px;
    }
    .textfield{
      min-width: 282px;
      min-height: 122px;
      font-size: 12px;
      padding: 21px 20px;
    }
    .popup_sign{
      min-width: 282px;
      height: 48px;
    }
    .popup_head {
      font-size: 17px;
      letter-spacing: 0;
      margin-bottom: 28px;
    }
    .radio_group::before {
      width: 39px;
      height: 26px;
      background-size: 26px;
    }
    .radio_group{
      font-size: 12px;
    }
    .radio_group:nth-child(1n+2){
      margin-right: 24px;
    }
    .popup_field{
      margin-bottom: 34px;
    }
    .popup_text{
      font-size: 12px;
    }
  }
  